.sorting {
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting-button {
  height: 100%;
  cursor: pointer;
  flex: 1;
  border: 1px solid blueviolet;
  background: none;
  color: blueviolet;
  font-size: 16px;
  transition: 0.3s;
}

.sorting-button:hover {
  background: rgba(137, 43, 226, 0.3);
}
